
    .dismissButton{
        background-color:#fff;
        border:1px solid #dadce0;
        color:#1a73e8;
        border-radius:4px;
        font-family:Roboto,sans-serif;
        font-size:14px;
        height:36px;
        cursor:pointer;
        padding:0 24px
    }

    .dismissButton:hover{
        background-color:rgba(66,133,244,.04);
        border:1px solid #d2e3fc
    }

    .dismissButton:focus{
        background-color:rgba(66,133,244,.12);
        border:1px solid #d2e3fc;
        outline:0;
    }

    .dismissButton:focus:not(:focus-visible){
        background-color:#fff;
        border:1px solid #dadce0;
        outline:none
    }

    .dismissButton:focus-visible{
        background-color:rgba(66,133,244,.12);
        border:1px solid #d2e3fc;
        outline:0;
    }

    .dismissButton:hover:focus{
        background-color:rgba(66,133,244,.16);
        border:1px solid #d2e2fd;
    }

    .dismissButton:hover:focus:not(:focus-visible){
        background-color:rgba(66,133,244,.04);
        border:1px solid #d2e3fc
    }

    .dismissButton:hover:focus-visible{
        background-color:rgba(66,133,244,.16);
        border:1px solid #d2e2fd;
    }

    .dismissButton:active{
        background-color:rgba(66,133,244,.16);
        border:1px solid #d2e2fd;
        -webkit-box-shadow:0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);
        box-shadow:0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15)
    }

    .dismissButton:disabled{
        background-color:#fff;border:1px solid #f1f3f4;
        color:#3c4043;
    }

    .gm-err-container{
        height:100%;
        width:100%;
        display:table;background-color:#e8eaed;
        position:relative;
        left:0;
        top:0;
    }

    .gm-err-content{
        border-radius:1px;
        padding-top:0;
        padding-left:10%;
        padding-right:10%;
        position:static;
        vertical-align:middle;
        display:table-cell
    }

    .gm-err-content a{color:#3c4043}
    .gm-err-icon{text-align:center}

    .gm-err-title{
        margin:5px;
        margin-bottom:20px;
        color:#3c4043;
        font-family:Roboto,Arial,sans-serif;text-align:center;
        font-size:24px;
    }

    .gm-err-message{
        margin:5px;
        color:#3c4043;
        font-family:Roboto,Arial,sans-serif;
        text-align:center;
        font-size:12px;
    }

    .gm-err-autocomplete{
        padding-left:20px;
        background-repeat:no-repeat;
        -webkit-background-size:15px 15px;
        background-size:15px 15px;
    }

    .gm-style-moc{
        background-color:rgba(0,0,0,.45);
        pointer-events:none;
        text-align:center;
        -webkit-transition:opacity ease-in-out;
        transition:opacity ease-in-out;
    }

    .gm-style-mot{
        color:white;
        font-family:Roboto,Arial,sans-serif;
        font-size:22px;
        margin:0;
        position:relative;
        top:50%;
        transform:translateY(-50%);-webkit-transform:translateY(-50%);
        -ms-transform:translateY(-50%)
    }

    .gm-style img{max-width: none;}
    .gm-style {font: 400 11px Roboto, Arial, sans-serif; text-decoration: none;}
